<ion-header [translucent]="true">
  <app-header [pageTitle]="pageTitle"></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="listaPersonajes">
    <ion-item *ngFor="let personaje of listaPersonajes">
      <ion-avatar slot="start">
        <img [src]="personaje.image" alt="Avatar">
      </ion-avatar>
      <ion-label>
        <ion-text>
          <h2>{{ personaje.name }}</h2>
          <h3>{{ personaje.homeworld }}</h3>
        </ion-text>
      </ion-label>
      <ion-icon class="ff" name="arrow-forward" (click)="goToDetails(personaje)"></ion-icon>
    </ion-item>
  </ion-list>  
</ion-content>
